html {
}

body {

}

.navbar {
    border-radius: 0px;
    background-color: #428bca;
    border: none;
    color: #eee;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
    color: #fff;
}

.login {
    background-color: #428bca;
    border-color: #428bca;
}