.container{
  margin-top: 20px;
}

.btn-sm{
    padding: 1px 3px;
}

.modal-content{
	padding: 20px;
}

#menu a{
    margin-left: 5px;
    margin-right: 5px;
}

.navbar {
    border-radius: 0px;
    background-color: #428bca;
    border: none;
    color: #eee;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
    color: #fff;
}


.fileinput {
    position: relative;
    padding-right: 35px;
    margin-bottom: 9px;
    display: inline-block;
}

.fileinput .fileinput-preview {
    width: 200px;
    height: 150px;
    position: relative;
}

.fileinput .thumbnail {
    overflow: hidden;
    display: inline-block;
    margin-bottom: 5px;
    vertical-align: middle;
    text-align: center;
}

.thumbnail {
    display: block;
    padding: 3px;
    margin-bottom: 18px;
    line-height: 1.42857143;
    background-color: #ffffff;
    border: 1px solid #ededed;
    border-radius: 2px;
    -webkit-transition: border 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
}

.fileinput .fileinput-preview:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
}

.btn-file > input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    font-size: 23px;
    height: 100%;
    width: 100%;
    direction: ltr;
    cursor: pointer;
}

input[type="file"] {
    display: block;
}